body {font-family: "Lato", sans-serif;}

.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

//Si la pntalla es muy pequella
@media screen and (max-width: 450px) {
  .sidebar {
    width: 60px;
  }
  //Oculta las span, que es donde esta el nombre
  .sidebar span {
    display: none;
  }
  //Cuando pasamos el cursor por el menu, este se despliegue
  .sidebar:hover {
    width: 180px;
  }
  //Muestra los span si el cursor esta en el menu
  .sidebar:hover span {
    display: initial;
  }
  .main {
    margin-left: 60px; 
  }
}

